<!DOCTYPE html>
<html lang="ru">
{{> head }}

<body>
  {{> preloader }}
  <div class="container">
    {{> cursor }}
    {{> header }}
    <div class="wrapper">
      {{!-- start --}}
      <div class="section started section-title" id="section-started">
        <div class="video-bg jarallax" style="background-image: url(images/robot.jpg);">
          <div class="video-bg-mask"></div>
          <div class="video-bg-texture" id="grained_container"></div>
        </div>
        <div class="centrize full-width">
          <div class="vertical-center">
            <div class="started-content">
              <h1 class="h-title">О магазине</h1>
              <div class="h-subtitles">
                <div class="h-subtitle typing-bread">
                  <p class="breadcrumbs">
                    <a href="/">Главная</a> / О магазине
                  </p>
                </div>
                <span class="typed-bread"></span>
              </div>
            </div>
          </div>
        </div>
        {{> chevron }}
      </div>
      {{!-- about --}}
      <div class="section about" id="section-about">
        <div class="content content-box">
          <div class="image">
            <img src="images/door.jpg" alt="Магазин радиотоваров" />
          </div>
          <div class="desc">
            <p>
              Магазин Radiobox расположен в центре города Брест. Мы занимемся
              розничной торговлей радиотоваров, радиокомпонентов и аксесуаров
              GSM. Мы работаем с физическими и юридическими лицами, принимаем
              оплату наличными и по карточке.
            </p>
            <div class="info-list">
              <ul>
                <li><strong>Время работы:</strong> 10:00-18:00</li>
                <li><strong>Телефон:</strong> +375 (29) 862 56 84</li>
                <li><strong>Telegram:</strong> +375 (29) 585 24 16</li>
                <li><strong>Адрес:</strong> Куйбышева 13 пав.4</li>
                <li><strong>Viber:</strong> +375 (29) 524 87 88</li>
                <li><strong>E-mail:</strong> valbrestgsm@mail.ru</li>
              </ul>
            </div>
            <div class="bts">
              <a href="/contacts#cform" class="btn hover-animated">
                <span class="circle"></span>
                <span class="lnk">Отправиь сообщение</span>
              </a>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      {{!-- service --}}
      <div class="section service" id="section-services">
        <div class="content">
          <div class="title">
            <div class="title_inner">Ассортимент</div>
          </div>
          {{> service-items }}
          <div class="clear"></div>
        </div>
      </div>
      {{!-- team --}}
      <div class="section team" id="section-team">
        <div class="content">
          <div class="title">
            <div class="title_inner">Наша команда</div>
          </div>
          <div class="team-items">
            {{#each team}}
            <div class="team-col">
              <div class="team-item content-box">
                <div class="image">
                  <img src="{{this.img}}" alt="{{this.name}}" />
                </div>
                <div class="desc">
                  <div class="name">{{this.name}}</div>
                  <div class="category">{{this.category}}</div>
                  <div class="soc">
                    <a target="_blank" href="{{this.vk}}">
                      <span class="icon fab fa-vk"></span>
                    </a>
                    <a target="_blank" href="{{this.inst}}">
                      <span class="icon fab fa-instagram"></span>
                    </a>
                    {{#if this.fb}}
                    <a target="_blank" href="{{this.fb}}">
                      <span class="icon fab fa-facebook"></span>
                    </a>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      {{!-- testimonials --}}
      <div class="section testimonials" id="section-testimonials">
        <div class="content">
          <div class="title">
            <div class="title_inner">Отзывы</div>
          </div>
          <div class="reviews-carousel">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                {{#each testimonials}}
                <div class="swiper-slide">
                  <div class="reviews-item content-box">
                    <div class="image">
                      <img src="{{this.img}}" alt="{{this.name}}" />
                    </div>
                    <div class="info">
                      <div class="name">{{this.name}}</div>
                      <div class="company">
                        {{#times this.rate}}
                        <i class="fas fa-star"></i>
                        {{/times}}
                      </div>
                    </div>
                    <div class="text">{{this.text}}</div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
            <div class="swiper-nav">
              <a class="prev swiper-button-prev fas fa-long-arrow-alt-left"></a>
              <a class="next swiper-button-next fas fa-long-arrow-alt-right"></a>
            </div>
          </div>
        </div>
      </div>
      {{!-- clients --}}
      <div class="section clients" id="section-clients">
        <div class="content">
          <div class="title">
            <div class="title_inner">Наши партнеры</div>
          </div>
          <div class="content-box">
            <div class="clients-items">
              {{#each clients}}
              <div class="clients-col">
                <div class="clients-item">
                  <a target="_blank" href="{{this.link}}">
                    <img src="{{this.logo}}" alt="{{this.name}}" />
                  </a>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      {{!-- subscribe --}}
      <div class="section custom-text" id="section-custom-text">
        <div class="content">
          <div class="title">
            <div class="title_inner">Подписка</div>
          </div>
          <div class="content-box">
            <div class="single-post-text">
              <p>
                Наш ассортимент постоянно обновляется и если вы хотите быть в
                курсе всех новинок, подписывайтесь на наш
                <a target="_blank" href="https://www.instagram.com/radioboxbrest/">instagram</a> а так же группу
                <a target="_blank" href="https://vk.com/radioboxbrest/">Вконтакте</a>. Если вам интересно сделать что то
                своими руками подписывайтесь на наш <a target="_blank"
                  href="https://www.youtube.com/user/maximumsvoimirukami/">YouTube</a> канал.
              </p>
              <p>
                Если у вас есть вопросы, просто заполните <a href="/contacts#cform">форму обратной связи</a>
                и мы в скором времени свяжемся с вами.
              </p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    {{> footer }}
    {{> lines }}
  </div>
  <script src="./js/libs.js"></script>
  <script src="./js/scripts.js"></script>
</body>

</html>