<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="Галерея radiobox" />
  <meta name="keywords" content="фото магазина radiobox, видео, интересные статьи" />
  <!-- <meta name="author" content="beshleyua" /> -->

  <!-- Title -->
  <title>Магазин радиотоваров в Бресте</title>

  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic"
    rel="stylesheet" />

  <!-- Styles -->
  <link rel="stylesheet" href="css/basic.css" />
  <link rel="stylesheet" href="css/layout.css" />
  <link rel="stylesheet" href="css/magnific-popup.css" />
  <link rel="stylesheet" href="css/animate.css" />
  <link rel="stylesheet" href="css/jarallax.css" />
  <link rel="stylesheet" href="css/swiper.css" />
  <link rel="stylesheet" href="css/fontawesome.css" />
  <link rel="stylesheet" href="css/brands.css" />
  <link rel="stylesheet" href="css/solid.css" />
  <link rel="stylesheet" href="css/theme-colors/blue.css" />

  <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="shortcut icon" href="images/favicons/favicon.ico" />
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
      m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(47730136, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/47730136" style="position:absolute; left:-9999px;" alt="" /></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110528764-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-110528764-1');
  </script>

</head>

<body>
  <!-- Preloader -->
  <div class="preloader">
    <div class="centrize full-width">
      <div class="vertical-center">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Container -->
  <div class="container">
    <!-- Cursor -->
    <div class="cursor-follower"></div>

    {{!-- <!-- Header -->
    <header class="header">
      <div class="head-top">
        <!-- menu button -->
        <a href="#" class="menu-btn"><span></span></a>

        <!-- logo -->
        <div class="logo hover-masks-logo">
          <a href="/">
            <span class="mask-lnk" style="color: #4fcbe9;"><i class="fas fa-box-open"
                style="padding-right: 15px; color: #fff;"></i>RADIO<strong>BOX</strong></span>
            <span class="mask-lnk mask-lnk-hover" style="color: #4fcbe9;"><strong><i class="fas fa-box-open"
                  style="padding-right: 15px; color: #4fcbe9;"></i>RADIO</strong>BOX</span>
          </a>
        </div>

        <!-- top menu -->
        <div class="top-menu hover-masks">
          <div class="top-menu-nav">
            <div class="menu-topmenu-container">
              <ul class="menu">
                <li class="menu-item">
                  <a href="/">Главная</a>
                </li>
                <li class="menu-item">
                  <a href="/resume">О магазине</a>
                </li>
                <li class="menu-item current-menu-item">
                  <a href="/works">Галерея</a>
                </li>
                <li class="menu-item">
                  <a href="/contacts">Контакты</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header> --}}
    {{> header }}
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Section Started -->
      <div class="section started section-title" id="section-started">
        <!-- background -->
        <div class="video-bg">
          <div class="video-bg-mask"></div>
          <div class="video-bg-texture" id="grained_container"></div>
        </div>

        <!-- started content -->
        <div class="centrize full-width">
          <div class="vertical-center">
            <div class="started-content">
              <h1 class="h-title">Галерея</h1>
              <div class="h-subtitles">
                <div class="h-subtitle typing-bread">
                  <p class="breadcrumbs">
                    <a href="/">Главная</a> / Галерея
                  </p>
                </div>
                <span class="typed-bread"></span>
              </div>
            </div>
          </div>
        </div>

        <!-- mosue button -->
        <a href="javascript: void(0)" class="mouse_btn" style="display: none;"><span
            class="icon fas fa-chevron-down"></span></a>
      </div>

      <!-- Works -->
      <div class="section works" id="section-portfolio">
        <div class="content">
          <!-- portfolio filter -->
          <!-- Все Фото Товар Видео Статьи -->
          <div class="filter-menu content-box">
            <div class="filters">
              <div class="btn-group">
                <label data-text="All" class="glitch-effect"><input type="radio" name="fl_radio"
                    value=".box-item" />Все</label>
              </div>
              <div class="btn-group">
                <label data-text="Image"><input type="radio" name="fl_radio" value=".f-image" />Фото</label>
              </div>
              <div class="btn-group">
                <label data-text="Video"><input type="radio" name="fl_radio" value=".f-video" />Видео</label>
              </div>
              <div class="btn-group">
                <label data-text="Links"><input type="radio" name="fl_radio" value=".f-links" />Журналы</label>
              </div>
            </div>
          </div>

          <!-- portfolio items -->
          <div class="box-items portfolio-items">
            <!-- images -->
            {{#each images}}
            <div class="box-item f-image">
              <div class="image">
                <a href="{{this.img}}" class="has-popup-image hover-animated">
                  <img src="{{this.img}}" class="wp-post-image" alt="{{this.alt}}" />
                  <span class="info circle">
                    <span class="centrize full-width">
                      <span class="vertical-center">
                        <span class="icon fas fa-image"></span>
                        <span class="desc">
                          <span class="category">Фото</span>
                          <span class="name"><i class="fas fa-search-plus"></i></span>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
            {{/each}}

            <!-- links -->
            {{#each links}}
            <div class="box-item f-links">
              <!-- add class "animate-to-page" if need animated transition to page and delete target="_blank" -->
              <div class="image">
                <a href="{{this.link}}" class="has-popup-link hover-animated" target="_blank">
                  <img src="{{this.img}}" class="wp-post-image" alt="{{this.title}}" />
                  <span class="info circle">
                    <span class="centrize full-width">
                      <span class="vertical-center">
                        <span class="icon fas fa-link"></span>
                        <span class="desc">
                          <span class="category">Перейти</span>
                          <span class="name">{{this.title}}</span>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
            {{/each}}

            <!-- video -->
            {{#each video}}
            <div class="box-item f-video">
              <div class="image">
                <a href="{{this.link}}" class="has-popup-video hover-animated">
                  <img src="{{this.img}}" class="wp-post-image" alt="{{this.title}}" />
                  <span class="info circle">
                    <span class="centrize full-width">
                      <span class="vertical-center">
                        <span class="icon fas fa-video"></span>
                        <span class="desc">
                          <span class="category">Видео</span>
                          <span class="name">{{this.title}}</span>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
            {{/each}}

          </div>

          <div class="clear"></div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="copy">
        <p>E: valbrestgsm@mail.ru</p>
        <p>T: +375 (29) 862 56 84</p>
      </div>
      <div class="soc-box">
        <div class="follow-label">Мы в соцсетях</div>
        <div class="soc">
          <a target="_blank" href="https://vk.com/radioboxbrest/">
            <span class="icon fab fa-vk"></span>
          </a>
          <a target="_blank" href="https://www.instagram.com/radioboxbrest/">
            <span class="icon fab fa-instagram"></span>
          </a>
          <a target="_blank" href="https://www.youtube.com/user/maximumsvoimirukami/">
            <span class="icon fab fa-youtube-square"></span>
          </a>
        </div>
      </div>
      <div class="clear"></div>
    </footer>

    <!-- Lines -->
    <div class="lines">
      <div class="line-col"></div>
      <div class="line-col"></div>
      <div class="line-col"></div>
      <div class="line-col"></div>
      <div class="line-col"></div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.validate.js"></script>
  <script src="js/magnific-popup.js"></script>
  <script src="js/simpleParallax.js"></script>
  <script src="js/typed.js"></script>
  <script src="js/jarallax.js"></script>
  <script src="js/jarallax-video.js"></script>
  <script src="js/jarallax-element.js"></script>
  <script src="js/imagesloaded.pkgd.js"></script>
  <script src="js/isotope.pkgd.js"></script>
  <script src="js/swiper.js"></script>
  <script src="js/grained.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/shuffle.js"></script>
</body>

</html>